*{
	margin: 0px;
}

#signup_page {
	background-image: url('https://d2h10qrqll8k7g.cloudfront.net/person_project/image/background(cat).jpg');
	height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;
}

#signin_page {
	background-image: url('https://d2h10qrqll8k7g.cloudfront.net/person_project/image/background(dog).jpg');
	height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;	
}

input {
	padding: 5px;
}

body{
	font-size: 16px;
	font-family:Microsoft JhengHei;
}

/*頂端bar*/

.mainheader_index {
	display: flex;
	width: 100%;
	height: 60px;
	background-color: rgba(255,255,255,0.7);
}

.mainheader{
	display: flex;
	width: 100%;
	margin: 0px 0px 50px 0px;
	height: 30px;
	padding-top: 10px;
}

#logo{
	width: 200px;
	margin-left: 40px;
	margin-top: 15px;
	z-index: 1;
	height: 50%;
}

.headlist{
	display: flex;
	flex-direction: row;
	float: left;
	list-style: none; 
	margin: 5px;
	padding: 0px;
}

.headlist li{
	display: flex;
	flex-direction: row;
	float: left;
	list-style: none; 
	margin: 5px;
}

.sidelist {
	display: flex;
	flex-direction: row;
	position: absolute;
	right: 0px;
	list-style: none; 
	vertical-align: middle;
	margin: 0px;
	padding: 0px 40px 0px 0px;
}

.sidelist li {
	margin-left: 10px;
}

#sidelist_container {
	margin-top: 20px;
}

/* 首頁 */

.body {
	background-color: white;
}

#bar_text {
	position:absolute;
	z-index: 2;
	color: white;
	font-size: 30px;
	margin: 10% 0 0 10%;
	display:inline;
}

#bar_row_button {
	display: inline;
	background-color: rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 10px;
	padding: 1px 5px;
	margin-left: 10px;
	color: white;
	cursor: pointer;
}

#bar_row_button:hover{
	color: black;
	background-color: rgba(255,255,255,0.5);
	border: 1px solid rgba(255,255,255,0.7);	
}

#select_title {
	text-align:center;
	font-weight:bold;
	padding-top:10px;	
}

.search_bar {
	background-color: white;
}

#select_form {
	z-index: 2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	padding: 10px 0 20px 0;
	margin: 0 auto;
}

.form_div {
	margin-right: 20px;
}

/* 多選框 */
.select_category input[type="checkbox"] {
    display: none;
}

.select_category input[type="checkbox"] + label {
    display: inline-block;
    background-color: #ccc;
    cursor: pointer;
    padding: 5px 10px;
}

.select_category input[type="checkbox"]:checked + label {
    background-color: rgba(0,0,0,.6);
    color: white;
}

.index_body {
	margin: 0 auto;
	width: 75%;
	z-index: 3;
	background-color: white;
}

.pets {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-left: 11%;
}

.content_container {
	width: 230px;
	margin: auto;
}

.container {
	width: 25%;
	padding: 20px 0px;
	background-color: rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,.125);
	color: white;
	border-radius: 6px;
	border: 1px solid;
	margin: 10px 5px;
}

.image {
	margin: 0 auto;
	object-fit: cover;
	width:230px;
	height:230px;
}

/*會員系統*/

#logo_member {
	width: 100%;
}

#form_logo {
	width: 20%;
	margin-left: 40%;
	margin-top: 20px;
}

#divider {
	width: 90%;
	margin: 20px auto;
}

#name, #email, #password {
	border-radius:4px;
	border:1px solid #787878;
	height: 40px;
	width: 60%;
	margin-bottom: 20px;
}

#input_address{
	border-radius:4px;
	border: 1px solid #c3c3c3;
}

#submit{
	width: 90px;
	height: 40px;
	border-radius:4px;
	border:0px;
	cursor: pointer;
}

#submitlogin{
	height: 30px;
}

.insert{
	color: white;
	margin: 0 auto;
	height: 480px;
	width: 400px;
	position: relative;
	align-self: center;
	background-color: rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,.125);
}

#insert_content {
	text-align: center;
}

#successname, #successemail{
	margin-left: 5px;
}

.success{
	margin-top: 20px;
	margin-left: 40%;
	display: none;
}

#fail{
	margin-top: 20px;
}

#signin {
	margin-top: 60px;
}

.userprofile{
	margin-left: 40%;
}

/*profile page*/

.userprofile, .user_lost_data, .message, .user_past_lost_data {
	margin: 0 auto;
	width: 95%;
	position: relative;
	align-self: center;
}

.userprofile {
	text-align: center;
}

#select_current_spot, #submit_mark {
	border: 1px solid rgba(0,0,0,0.7);
	background-color: rgba(0,0,0,0);
	border-radius: 4px;
	height: 27px;
	margin-left: 5px;
	cursor: pointer;
}

#profile_map {
	width: 90%;
	height: 300px;
	margin: 0 auto;
}

.user_lost_data, .message, .user_past_lost_data {
	margin-top: 20px;
}

.message {
	margin-bottom: 20px;
}

.nameline, .emailline {
	text-align: center;
	margin-bottom: 10px;
}

#profile_pet_picture_file {
	width: 100%;
}

#profile_pet_picture {
	width: 250px;
	margin: 0px 0px 0px 30px;
}

.profile_pet {
	display: flex;
	flex-direction: row;

	margin: 10px;
}

.head {
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}

.profile_list {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none; 
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.profile_list li {
	font-size: 20px;
	margin-left: 10px;
	height: 50px;
	line-height: 50px;
}

.close_case, .profile_pet_data, .profile_pet_picture {
	margin: 0 auto; 
}

.profile_pet_data {
	max-width: 30%;
}

#delete {
	height: 50px;
}

#signout {
	width: 60px;
	border-radius:4px;
	border:1px solid black;	
	margin: 20px auto 10px auto;
	text-align: center;
}

.message_container {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	margin-left: 20%;
}

.message_time {
	width: 30%;
}

.message_time_title {
	text-align: center;
	margin-bottom: 10px;
}

.send_time {
	text-align: center;
	margin-top: 5px;
}

.send_content {
	margin-top: 5px;
}

.message_content {
	width: 41%;
	margin-left: 20px;
}

.message_content_title {
	text-align: center;
	margin-bottom: 10px;
}

/* new lost page*/

.form_background {
	color: white;
	margin: 0 auto;
	width: 60%;
	position: relative;
	align-self: center;
	background-color: rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,.125);
	margin-top: 20px;
	padding: 0px 10px 10px ;
	
}

.form_container {
	margin-left: 29%;
}

.form_container input[type="text"] {
	border-radius:4px;
	border:1px solid #787878;
	height: 40px;
	width: 60%;
}

.form_container textarea {
	border-radius:4px;
	border:1px solid #787878;
	height: 100px;
	width: 60%;
	padding: 5px;
	margin-top: 20px;
}

.form_container input {
	margin-top: 20px;	
}

.form_background .form_container #submit {
	margin-left: 22%;
}

#upload_cover_image {
	display: flex;
	flex-direction: row;
	line-height: 32px;
}

.choose_file {
	cursor: pointer;
}

#image {
	display: none;
}

#chose_picture {
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 80px;
}

#map {
	margin-top: 20px;
	width: 60%;
	height: 150px;
}

/*首頁篩選條件*/

.search_background {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	/*transition: all 700ms ease 0s;
	transform: translate3d(0px, 0px, 0px);*/
}

#search_image {
	position:absolute;
	z-index:-1;
	width: 100%;
	margin-top: -130px;
}

/*新首頁*/

#category {
	background-color: white;
	display: flex;
	flex-direction: row;
	font-size: 20px;
}

#category_lost, #category_find {
	line-height: 50px;
	width: 50%;
	text-align: center;
}

.post_link {
	text-decoration: none;
	color: black;
}

.post_link:hover {
	text-decoration: none;
	color: black;	
}

.post {
	display: flex;
	flex-direction: row;
	width: 95%;
	margin: 0 auto 10px auto;
	height: 320px;
	border: 1px solid rgba(0,0,0,.125);
	padding: 10px;
}

.post:hover {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: margin-bottom 1s;
    -moz-transition: margin-bottom 1s;
    -webkit-transition: margin-bottom 1s;
    -o-transition: margin-bottom 1s;
}

.post_img_container {
	width: 300px;
	height: 100%;
}

.post_image {
	width: 300px;
	height: 100%;
	object-fit: cover;
}

.post_content_container {
	margin-left: 1px;
	width: 55%;
	height: 100%;
}

#post_tag {
	background-color: rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,.125);
	color: white;
	width: 125px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
}

.post_flag_container {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.post_flag {
	background-color: rgba(0,0,0,.05);
	border: 1px solid rgba(0,0,0,.055);
	width: 60px;
	text-align:center;
	margin-right: 10px;
}

.post_content {
	margin: 10px;
}

.content {
	overflow:hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}
p {
	margin: 0;
}

#post_content_title {
	margin-top: 10px;
	font-size: 23px;
}

#post_content_time {
	margin-top: 10px;	
}

#post_content_location {
	margin-top: 10px;
}

#post_content_text {
	margin-top: 10px;
	border: 1px solid rgba(0,0,0,.125);
}

.post_button_container {
	width: 22%;
	height: 100%;
}

.index_map {
	margin-top: 50px;
	width: 100%;
	height: 248px;
}

/*新profile page*/

.profile_container{
	width: 90%;
	height: 300px;
	margin: 10px auto;
	display: flex;
	flex-direction: row;
	border: 1px solid rgba(0,0,0,.5);
}

.profile_container:hover {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: margin-bottom 1s;
    -moz-transition: margin-bottom 1s;
    -webkit-transition: margin-bottom 1s;
    -o-transition: margin-bottom 1s;
}

.profile_image_container {
	height: 100%;
	width: 300px;
}

#profile_image {
	width: 300px;
	height: 100%;
	object-fit: cover;
}

.profile_lost_content {
	width: 80%;
	position: relative;
	padding: 0 5px 0 5px;
}

.profile_content_li {
	margin-top: 5px;
}

#profile_content_name {
	margin-top: 30px;
}

#text {
	overflow:hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.close {
	height: 40px;
	background-color: rgba(0,0,0,.5);
	border-bottom: 1px solid rgba(0,0,0,.5);
	border-left: 1px solid rgba(0,0,0,.5);
	color: white;
	line-height: 40px;
	text-align: center;
	width: 80px;
	cursor: pointer;
	position: absolute;
	right: 0px;
}

#send_close {
	width: 80px;
	height: 30px;
	margin-top: 5px;
	border: 1px solid black;
	background-color: rgba(0,0,0,0);
	border-radius: 4px;
	cursor: pointer;
}

/*成功案例 index page*/

.map_background {
	height: 100vh;
	width: 100%;
}

#success_page_map {
	width: 100%;
	height: 100%;
}

.success_page_header {
	
}