*{
	margin-left:0px;
	margin-right:0px;
	margin-bottom: 0px;
}
/*頂端bar*/
.mainheader{
	display: flex;
	width: 100%;
	margin: 10px 0px 10px 0px;
}

.logo{
	width: 50%;
}

#logo{
	width: 200px;
	margin-left: 20px;
	z-index: 1;
}

.headlist{
	display: flex;
	flex-direction: row;
	float: left;
	list-style: none; 
	margin: 5px;
	padding: 0px;
}

.headlist li{
	display: flex;
	flex-direction: row;
	float: left;
	list-style: none; 
	margin: 5px;
}

.sidelist {
	display: flex;
	flex-direction: row;
	position: absolute;
	right: 0px;
	list-style: none; 
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}

#black{
	background: black;
	height: 20px;
	width: 100%;
}

/* 內容圖片 */
.lost_pets {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 20px;
	justify-content:center;
}

.container {
	width: 20%;
	margin: 10px 20px 10px 20px;
}

.image {
	width: 100%;
}

/*會員系統*/
#submit{
	width: 90px;
	height: 30px;
	margin-left: 50px;
}

#submitlogin{
	height: 30px;
}

.insert{
	margin-left: 40%;
}

.nameline, .emailline{
	display: flex;
	flex-direction: row;
}

#successname, #successemail{
	margin-left: 35px;
}

.success{
	margin-top: 20px;
	margin-left: 40%;
	display: none;
}

#fail{
	margin-left: 40%;
	margin-top: 20px;
}

.userprofile{
	margin-left: 40%;
}