
a {
  color: #00B7FF;
}

.body {
	display:flex;
	width:100%;
	height:600px;
}

.profile_map {
	width:100%;
	height:100%;
	border-color:#6C6024;
	border-width:3px;
	border-style:solid;
	margin-right: 10px;
}

.profile {
	height:40%;
	border-color:#ADA142;
	border-width:3px;
	border-style:solid;
	margin: 5px 5px 10px 5px;
	display: flex;
}

.picture, .information {
	width: 50%;
	border-color:#ADA142;
	border-width:3px;
	border-style:solid;
	margin: 5px 5px 5px 5px;
}

.picture_file {
	height:100%;
}

.map_mark {
	height:55%;
	border-color:#ADA142;
	border-width:3px;
	border-style:solid;
	margin: 0px 5px 20px 5px;
	display: flex;	
}

#map, .mark{
	width: 50%;
	border-color:#ADA142;
	border-width:3px;
	border-style:solid;
	margin: 5px 5px 20px 5px;
}

.chatroom {
	width: 50%;
}

.chats {
  height: 80%;
  width: 100%;
  background: #eee;
  overflow-y: scroll;
}

.chats .chat {
  display: flex;
  margin: 5px 0;
}

.chats .chat .group {
  display: inherit;
  word-wrap: normal;
}

.chats .chat .group .name {
  padding: 0 10px;
  font-weight: bold;
}

.chats .chat .time {
  padding-left: 10px;
  font-size: 10px;
  line-height: 18px;
  color: #aaa;
}

.message {
  margin-top: 10px;
}

#content {
  padding: 0 5px;
  height: 25px;
  width: 300px;
}

.message button {
  height: 32px;
  width: 80px;
}